<style>

 .main {
 background-color: rgba(255, 255, 255, 0.5);
 margin-top: 100px;
 padding-bottom: 50px;
 }
 .main h1 {
 font-size: 3.5em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h2 {
 font-size: 2em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h3 {
 font-size: 2em;
 font-family: Arial;
 color: #2E3759;
 }
 .main p {
 font-size:1em;
 font-family: Arial;
 color: #2E3759;
 }

</style>



    <title>Sorry :(</title>

  </head>
  <body>

<div class="main">
  <div style="text-align:center">
    <br><br>
    <h3> Sorry, there was a problem with your input </h3>
    <p> {{error_message}}</p>
    <h2> press the back button on your browser to try again! </h2>

  </div>
</div>
</body>
