<!-- A really basic homepage. You may want to look at Bootstrap CSS examples to customize your own app! -->

<!-- your CSS goes between <style> </style> -->
<style>


  body, html {
    height: 100%;
  }


 .main {
 background-color: rgba(255, 255, 255, 0.5);
 margin-top: 0px;
 padding-bottom: 50px;
 }
 .main h1 {
 font-size: 3.5em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h2 {
 font-size: 2em;
 color: #2E3759;
 }
 .main h3 {
 font-size: 2em;
 font-family: Arial;
 color: #2E3759;
 }
 .main p {
 font-size:1em;
 font-family: Arial;
 color: #2E3759;
 }

.parallax{
   /* The image used */
   background-image: url('/static/salon_bkg.jpg');

   /* Full height */
   height: 20%;

   /* Create the parallax scrolling effect */
   /*background-attachment: fixed; */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}


.button {
  background-color: #555555;
  border: groove;
  border-color: black;
  color: white;
  padding: 15px 30px 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: auto;
  opacity: 0.9;
  transition: 0.3s
}

.button:hover {opacity: 1}


</style>



<div class="overlay">

</div>


<title>HairNet</title>
</head>
   <body>

    <div class="main">
      <div style="text-align:center">
      <br><br><br>
      <div class="starter-template">
        <h1>HairNet</h1>
          <h2>"Never comb through reviews and Instagram again!"</h2>
      </div>
      <br>
      <div class="parallax"> </div>

      <h3>What is your current/desired hair color?</h3>
      <form action='/recommendations', method='POST'>
        <div class='button'>
      <select name="hair_type" id="hair_type" class="selectpicker form-control" size = "1">
          <option value="blonde">blonde</option>
          <option value="brunette">brunette</option>
          <option value="black">black</option>
          <option value="red">red</option>
          <option value="colored">colored</option>
      </select>
    </div>


      <br><br><br>





      <!-- This is what takes you to my next page recommender.html -->
      <h3>What is something you want from the salon?</h3>
      <div class = "button"><input type="text" name="product" size = "20">
      <input type="submit" value="Comb the HairNet!"> </div>
      </form>


    </div>



    </div>


  </body>
